* {
  all: unset; // Unsets everything so you can style everything from scratch
}

.content-box {
  background-color: #202330;
  margin: 0.625rem 1.25rem 0.3125rem 1.25rem;
  border-radius: 10px;
  padding: 0px 1.25rem;
  color: #fff0f5;

  min-width: 0px;
  min-height: 2.5rem;
  font-size: 0.875rem;
}

.shadow {
  box-shadow: 0 5px 15px -3px rgba(71, 37, 65, 0.75);
}

.music-box,
.tray-box {
  padding: 0.125rem 0.625rem;
  margin: 0.625rem 1.25rem 0.3125rem 1.5rem;
}

.tray-box {
  font-size: 1rem;
}

.music-box {
  padding: 0.125rem 1.25rem;
}

.workspaces {
  font-size: 2rem;
  min-height: 2.5rem;
}

.workspace-icons > * {
  margin: 0 0.2rem;
  min-height: 2.5rem;
}

.workspace-box.focused {
  border-bottom: 2px solid #D35D6E;
  border-radius: 10px 10px 5px 5px;
}

.workspace-box {
  background-color: rgba(32,35,48, 0.9);
  border: 1px solid #202330;
  margin: 10px 5px 0;
  border-radius: 10px;
  color: #fff0f5;

  min-width: 0px;
  min-height: 40px;
  font-size: 1rem;
}

.workspace-eventbox > * {
  padding: 0px 10px;
}

.workspaces button.active {
  color: #D35D6E;
  font-weight: bold;
}

.workspaces button:hover {
  color: #D35D6E;
}

.music, .datetime {
  padding: 5px 0;
  font-size: 0.75rem;
}


// Powermenu
.powermenu {
  font-family: Material Design Icons Desktop;
  font-size: 1.4em;
  font-weight: bold;
}

.powericons {
  margin: 0.2rem 0 0.2rem 0;
}

.left-box > *:first-child {
  padding: 0 10px 0 0;
}

.left-box > * {
  padding: 0 10px;
}

.networkbutton {
  margin: 0 1rem;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  color: #ffd5cd;
}

.metric scale trough highlight {
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}

.metric scale trough {
  background-color: #4e4e4e;
  border-radius: 3.125rem;
  min-height: 0.1875rem;
  min-width: 3.125rem;
  margin-left: 0.625rem;
  margin-right: 1.25rem;
}

.label-ram {
  font-size: large;
}

.music-image {
  padding-right: 10px;
}

.music-artist {
  font-weight: 600;
}

.datetime-time {
  font-size: 0.75rem;
  font-weight: 600;
  margin-right: 1rem;
}

.datetime-date {
  font-size: 0.75rem;
  font-weight: 500;
}

.datetime-hour,
.datetime-day {
  margin-top: 2px;
  margin-bottom: -5px;
}

.music-controls {
  margin-left: 1rem;
}

.music-control-button {
  background-repeat: no-repeat;
  background-size: 18px;
  min-height: 1.4rem;
  min-width: 18px;
  margin: 0 0.4rem;
}

.powermenu-wrap {
  margin-top: 0.875rem;
  margin-right: 1.5rem;
}

.powermenu-button {
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
  min-height: 1.4rem;
  min-width: 1.4rem;
  margin: 0rem 5px;
  background-color: #202330;
  border-radius: 10px;
  padding: 0.5rem 0.625rem;
}

.powermenu-main-button {
  margin: 0;
}
