- name: Install Docker
  hosts: all
  become: true

  vars:
      new_user: "{{ lookup('env', 'USER') }}"

  tasks:
      - name: Install Docker pre-reqs
        apt:
            name:
                - ca-certificates
                - curl
                - gnupg
                - lsb-release
            state: present
            update_cache: yes

      - name: Add Docker GPG key
        apt_key:
            url: https://download.docker.com/linux/ubuntu/gpg
            state: present

      - name: Add Docker repo
        apt_repository:
            repo: >
                deb [arch=amd64]
                https://download.docker.com/linux/ubuntu
                {{ ansible_lsb.codename }} stable
            state: present

      - name: Install Docker Engine
        apt:
            name:
                - docker-ce
                - docker-ce-cli
                - containerd.io
                - docker-buildx-plugin
                - docker-compose-plugin
            state: present
            update_cache: yes

      - name: Enable Docker
        systemd:
            name: docker
            enabled: yes
            state: started

      # Post install

      - name: Ensure docker group
        group:
            name: docker
            state: present

      - name: Add user to group
        user:
            name: "{{ new_user }}"
            groups: docker
            append: yes
